<launch>
  <node pkg="nodelet" type="nodelet" name="nodelet_manager" args="manager" />

  <node pkg="nodelet" type="nodelet" name="nodelet_for_holosuit"
        args="load depth_image_proc/point_cloud_xyzrgb nodelet_manager">
    <remap from="rgb/camera_info" to="/camera/rgb/camera_info"/>
    <remap from="rgb/image_rect_color" to="/camera/rgb/image_color"/>
    <remap from="depth_registered/image_rect" to="/camera/depth/image"/>
    <remap from="depth_registered/points" to="points"/>
  </node>
</launch>